In [1]:
import os, sys
import numpy as np
import pandas as pd

In [3]:
wine = pd.read_csv('../data/wine_processed.csv', index_col=0)
wine.head()

    skin         region  vintage  quality
0  thick  central coast     1998     83.0
1  thick  central coast     1999     86.0
2  thick  central coast     2000     84.0
3  thick  central coast     2001     91.0
4  thick  central coast     2002     88.0

In [13]:
def str2bin(x):
    if x == 'thin':
        return 1
    elif x == 'thick':
        return 0

In [14]:
wine.skin = wine.skin.apply(str2bin)

In [15]:
wine.head()

   skin         region  vintage  quality
0     0  central coast     1998     83.0
1     0  central coast     1999     86.0
2     0  central coast     2000     84.0
3     0  central coast     2001     91.0
4     0  central coast     2002     88.0

In [6]:
files = os.listdir('../data/weather/')
len(files)

182

In [11]:
ava, yr = files[0][:-4].split('-')

In [25]:
for i, f in enumerate(files):
    ava, yr = f[:-4].split('-')
    if i == 0:
        df = wine[(wine.region == ava) & (wine.vintage == int(yr))]
    else:
        df1 = wine[(wine.region == ava) & (wine.vintage == int(yr))]
        df = pd.concat([df, df1])

In [28]:
wine

     skin             region  vintage  quality
0       0      central coast     1998     83.0
1       0      central coast     1999     86.0
2       0      central coast     2000     84.0
3       0      central coast     2001     91.0
4       0      central coast     2002     88.0
..    ...                ...      ...      ...
357     1  willamette valley     2016     91.0
358     1  willamette valley     2017     93.0
359     1  willamette valley     2018     92.0
360     1  willamette valley     2019     91.0
361     1  willamette valley     2020     85.0

[362 rows x 4 columns]

In [30]:
df['file'] = df.region + '-' + df.vintage.astype(str) + '.csv'

In [33]:
df = df.loc[:, ['skin', 'file', 'quality']]
df.head()

     skin                       file  quality
181     1               RRV-2008.csv     91.0
193     1               RRV-2020.csv     92.5
110     0  sierra foothills-2010.csv     91.0
111     0  sierra foothills-2011.csv     89.0
168     0       south coast-2020.csv     89.0

In [34]:
df.to_csv('../data/wine_data_final.csv', index=False)