In [1]:
import os, sys
import numpy as np
import pandas as pd

In [3]:
wine = pd.read_csv('../data/wine_processed.csv', index_col=0)
wine.head()

    skin         region  vintage  quality
0  thick  central coast     1998     83.0
1  thick  central coast     1999     86.0
2  thick  central coast     2000     84.0
3  thick  central coast     2001     91.0
4  thick  central coast     2002     88.0

In [13]:
def str2bin(x):
    if x == 'thin':
        return 1
    elif x == 'thick':
        return 0

In [14]:
wine.skin = wine.skin.apply(str2bin)

In [15]:
wine.head()

   skin         region  vintage  quality
0     0  central coast     1998     83.0
1     0  central coast     1999     86.0
2     0  central coast     2000     84.0
3     0  central coast     2001     91.0
4     0  central coast     2002     88.0

In [6]:
files = os.listdir('../data/weather/')
len(files)

182

In [11]:
ava, yr = files[0][:-4].split('-')

In [25]:
for i, f in enumerate(files):
    ava, yr = f[:-4].split('-')
    if i == 0:
        df = wine[(wine.region == ava) & (wine.vintage == int(yr))]
    else:
        df1 = wine[(wine.region == ava) & (wine.vintage == int(yr))]
        df = pd.concat([df, df1])

In [28]:
wine

     skin             region  vintage  quality
0       0      central coast     1998     83.0
1       0      central coast     1999     86.0
2       0      central coast     2000     84.0
3       0      central coast     2001     91.0
4       0      central coast     2002     88.0
..    ...                ...      ...      ...
357     1  willamette valley     2016     91.0
358     1  willamette valley     2017     93.0
359     1  willamette valley     2018     92.0
360     1  willamette valley     2019     91.0
361     1  willamette valley     2020     85.0

[362 rows x 4 columns]

In [30]:
df['file'] = df.region + '-' + df.vintage.astype(str) + '.csv'

In [33]:
df = df.loc[:, ['skin', 'file', 'quality']]
df.head()

     skin                       file  quality
181     1               RRV-2008.csv     91.0
193     1               RRV-2020.csv     92.5
110     0  sierra foothills-2010.csv     91.0
111     0  sierra foothills-2011.csv     89.0
168     0       south coast-2020.csv     89.0

In [34]:
df.to_csv('../data/wine_data_final.csv', index=False)

In [43]:
pd.read_csv('../data/weather/RRV-2012.csv')

           time  tavg  tmin  tmax      prcp  snow  wspd      pres
0    2012-03-01   9.2   3.9  13.9  0.192910   0.0  11.7  1.004480
1    2012-03-02   9.9   2.2  20.0  0.000000   0.0   8.4  1.012189
2    2012-03-03  10.5   1.1  21.7  0.000000   0.0   4.0  1.011892
3    2012-03-04  12.4   3.3  23.9  0.000000   0.0   3.8  1.007057
4    2012-03-05   9.4   1.7  18.9  0.000000   0.0   6.2  1.004480
..          ...   ...   ...   ...       ...   ...   ...       ...
236  2012-10-27  18.0  10.0  28.3  0.000000   0.0   3.0  1.002517
237  2012-10-28  16.5  10.0  27.2  0.000000   0.0   5.1  1.001358
238  2012-10-29  14.0   6.7  25.0  0.000000   0.0   1.7  1.001358
239  2012-10-30  12.8   8.9  20.6  0.000000   0.0   4.5  1.001358
240  2012-10-31  14.0  12.8  16.0  0.015681   0.0   5.3  1.001358

[241 rows x 8 columns]